<!DOCTYPE html>
<html>
<head>
	<title>ÜPay - Send Money, Pay Online or Set Up a Merchant Account</title>
</head>
<link rel="stylesheet" type="text/css" href="view/style.css">
<body>
	<div class="header">
		<div class="container">
			<div class="kiri">
				<ul>
					<li><img src="images/logo-white.png" style="width: 110px;"></li>
				</ul>
			</div>
			<div class="tengah">
				<center><ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="service.html">Service</a></li>
					<li><a href="team.html">Team</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="help.html">Help</a></li>
				</ul></center>
			</div>
			<div class="kanan">
				<ul>
					<li class="log"><a href="login.html"><button>Login</button></a></li>
					<li class="sig"><button>Sign Up</button></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="notes">
			<div class="container">
				<h2>ÜPay commits $530 Million to support<br>Black businesses and communities.</h2><br>
				<p><u>Learn more about our ongoing efforts in the Newsroom</u></p>
			</div>
		</div>
		<div class="banner">
			<div class="container">
				<div class="personal">
					<h2>Personal</h2><br>
					<p>Send money, pay on your<br>terms and shop easily all with ÜPay.</p><br>
					<button>Sign Up for Free</button>
				</div>
				<div class="business">
					<h2>Business</h2><br>
					<p>Start accepting all kinds of payments<br>with one ÜPay business account.</p><br>
					<button>Get Started</button>
				</div>
			</div>
		</div>
		<div class="pin">
			<div class="container">
				<h2>Responding to the Coronavirus</h2><br>
				<p>All of us at ÜPay are working to provide you with the resources, support, and information you need, as the times demand.</p><br>
				<ul>
					<li>Apply for a Paycheck<br>Protection Program Loan</li>
					<li>Get support for your small<br>business</li>
					<li>Find the help you need in<br>our Help Center</li>
					<li>Learn about our ongoing<br>efforts in the Newsroom</li>
				</ul>
			</div>
		</div>
		<div class="demo">
			<div class="container">
				<h1>Send, shop and pay your way with one account.</h1><br><br><br>
				<ul>
					<li>
						<h2>Send money</h2><br>
						<p>Send, request and collect money from ÜPay<br>friends and family</p><br>
						<img src="images/1.png">
					</li>
					<li><h2>Shop Effortlessly</h2><br>
						<p>Check out fast using your stored cards or<br>bank account</p><br>
						<img src="images/2.png">
					</li>
					<li><h2>Pay your way</h2><br>
						<p>Shop with our credit, debit, prepaid cards or<br>digital credit line</p><br>
						<img src="images/3.png">
					</li>
				</ul>
			</div>
		</div>
		<div class="feature">
			<div class="container">
				<ul>
					<li>
						<img src="images/chart.webp"><br><br>
						<h2>Secure payments</h2><br>
						<p>We keep your financial details private and<br>transactions secure from fraud 24/7.</p>
					</li>
					<li><img src="images/phone.webp"><br><br>
						<h2>Simple and convenient</h2><br>
						<p>Skip entering and updating your card details<br>every time you check out.</p>
					</li>
					<li><img src="images/people.webp"><br><br>
						<h2>Bew rewarded</h2><br>
						<p>Continue to earn reward points on cards<br>added to your ÜPay wallet.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="offer">
			<div class="container">
				<h2>Join millions who choose ÜPay worldwide.</h2><br><br>
				<button>Sign Up for Free</button>
			</div>
		</div>
	<div class="footer">
		<div class="container"><center>
			<div class="top">
				<img src="images/flag.jpg" style="width: 30px;"><br>
				<ul><b>
					<li>Help</li>
					<li>Contact</li>
					<li>Fees</li>
					<li>Security</li>
					<li>Apps</li>
					<li>Shop</li></b>
				</ul>
			</div>
			<div class="sub">
				<ul><b>
					<li>About</li>
					<li>Newsroom</li>
					<li>Jobs</li>
					<li>Investor Relations</li>
					<li>Social Innovation</li>
					<li>Public Policy</li>
					<li>Sitemap</li>
					<li>Enterprise</li>
					<li>Partners</li></b>
				</ul>
			</div><br><br>
			<p>©2019 All rights reserved. Website HTML by Dylan Maheksa</p><br>
		</center></div>
	</div>
</body>
</html>