<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="icon" href="/assets/images/icon.png">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<body>
	<center><div class="login">
		<form>
			<img src="/assets/images/logo-black.png" style="width: 140px;"><br><br>
			<input type="text" name="" placeholder="Email"><br>
			<input type="password" name="" placeholder="Password"><br>
			<button style="background-color: black; color: white;"><a href="http://localhost:8000/dashboard" style="text-decoration: none; color: white;">Sign In</a></button><br><br>
			<p>or</p><br>
			<button style="background-color: #e1e7eb;">Sign Up</button>
		</form>
	</div></center>
</body>
</html>